<div class="textMsgContainer">
  <div class="subtextmsg">
    <i id="text" class="fa fa-smile-o"></i>
    <span>we run on Intercon</span>
  </div>
  <hr>
  <div class="textMsgBox">
    <form name="chatform" id="chatform">
      <input name="msgText" type="text" [(ngModel)]="messageText" placeholder="Write a reply...." autofocus />
      <span>
        <i id="faicon" class="fa fa-paperclip"></i>
        <i id="faicon" class="fa fa-smile-o"></i>
        <i id="faicon" class="fa fa-paper-plane" (click)="onSend(messageText)"></i>
      </span>
    </form>
  </div>
</div>