<div class="content">
  <div class="toolbar">
    <i class="fa fa-angle-left"></i>
    <span class="heading">Intercom</span>
    <div class="info">
      <div class="text">We help your business grow by connecting you to your customers.</div>
      <div class="row img">
        <div class="col">
          <div class="row">
            <img src="../../../assets/images/img1.jpeg">
          </div>
          <div class="row">
            <span>Jon</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <img src="../../../assets/images/img2.jpeg">
          </div>
          <div class="row">
            <span>Eliza</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <img src="../../../assets/images/img3.jpeg">
          </div>
          <div class="row">
            <span>Aparna</span>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div>The team typically replies in a few hours.</div>
    </div>
  </div>
</div>