/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.fa {
    font-size: 30px;
    font-weight: 500;
    margin: 0px 10px
}

/* infobar css */
.content {
    background-color: #1E90FF;
    padding: 15px 0px 15px 0px;
}

.toolbar {
    margin: 0px 10px 0px 10px;
}

.toolbar i {
  color: white;
}

.heading{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.info {
    margin: 0px 15px 0px 30px;
    justify-content: center;
    word-wrap: break-word;
    color: #fff;
}

.text {
    opacity: 0.8;
}

.img {
    margin: 10px 0px 10px 0px;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* conversation css */
.senderMessage {
    float:right; 
    padding: 30px
}

.reciverMessage {
    position: absolute;
    padding: 50px 25px 2px 30px;
    display: block;
}


/* text-msg css */
.textMsgContainer {
    position: absolute;
    right: 0; 
    bottom: 0; 
    left: 0;
}

input {
    caret-color: gray;
    border: transparent !important;
}

input:focus {
    outline: none;
}

#text {
    background-color: #1E90FF; 
    font-size: 15px; 
    padding: 2px; 
    border-radius: 2px;
}

.subtextmsg {
    opacity: 0.6;
    text-align: center;
}

.textMsgBox {
    padding: 0px 15px 10px 15px;
}

#faicon {
    float: right;
    color: gray; 
    font-size: 22px
}